@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #ccffff;
    font-family: 'Noto Sans', sans-serif;
  }

h1{
  text-align: center;
}

my-emo{
    font-family: 'Noto Emoji', sans-serif;
}

#navbar{
  width: 100%; 
  table-layout: fixed;
  border: 1px;
}

.logo{
  text-align: center;
  color:blue;
}
.c-able{
  font-weight: normal;
  text-align: center;
  background-color: #66ffff
}

.current{
  font-weight: bold;
  text-align: center;
  background-color: #9999ff;
}